In [1]:
import pymongo
import datetime
import collections

import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline

import numpy as np
import pandas as pd
import scipy.stats
from collections import Counter
from sklearn import cluster

# Importing and cleaning our datasets

In [2]:
referendum_df = pd.read_csv("data/EU-referendum-result-data.csv")
referendum_df.head()

,id,Region_Code,Region,Area_Code,Area,Electorate,ExpectedBallots,VerifiedBallotPapers,Pct_Turnout,Votes_Cast,...,Remain,Leave,Rejected_Ballots,No_official_mark,Voting_for_both_answers,Writing_or_mark,Unmarked_or_void,Pct_Remain,Pct_Leave,Pct_Rejected
0,108,E12000006,East,E06000031,Peterborough,120892,87474,87469,72.35,87469,...,34176,53216,77,0,32,7,38,39.11,60.89,0.09
1,109,E12000006,East,E06000032,Luton,127612,84633,84636,66.31,84616,...,36708,47773,135,0,85,0,50,43.45,56.55,0.16
2,112,E12000006,East,E06000033,Southend-on-Sea,128856,93948,93939,72.90,93939,...,39348,54522,69,0,21,0,48,41.92,58.08,0.07
3,113,E12000006,East,E06000034,Thurrock,109897,79969,79954,72.75,79950,...,22151,57765,34,0,8,3,23,27.72,72.28,0.04
4,110,E12000006,East,E06000055,Bedford,119530,86136,86136,72.06,86135,...,41497,44569,69,0,26,1,42,48.22,51.78,0.08

In [3]:
immigration_df = pd.read_csv("data/ukmye2015/MYEB3_summary_components_of_change_series_UK_(0215).csv", thousands=',')
immigration_df.T.head()

,0,1,2,3,4,5,6,7,8,9,...,381,382,383,384,385,386,387,388,389,390
lad2014_code,E06000001,E06000002,E06000003,E06000004,E06000005,E06000006,E06000007,E06000008,E06000009,E06000010,...,W06000014,W06000015,W06000016,W06000018,W06000019,W06000020,W06000021,W06000022,W06000023,W06000024
lad2014_name,Hartlepool,Middlesbrough,Redcar and Cleveland,Stockton-on-Tees,Darlington,Halton,Warrington,Blackburn with Darwen,Blackpool,"Kingston upon Hull, City of",...,Vale of Glamorgan,Cardiff,Rhondda Cynon Taf,Caerphilly,Blaenau Gwent,Torfaen,Monmouthshire,Newport,Powys,Merthyr Tydfil
country,E,E,E,E,E,E,E,E,E,E,...,W,W,W,W,W,W,W,W,W,W
population_2001,90152,141233,139159,183795,97894,118559,191202,138453,142270,249913,...,119277,310088,231910,169546,70000,90912,84984,137642,126398,56207
births_2002,1017,1663,1336,1938,1102,1389,2149,2126,1417,2814,...,1169,3537,2464,1945,655,971,788,1656,1169,600

In [4]:
immigration_df.groupby("country").count()

,lad2014_code,lad2014_name,population_2001,births_2002,deaths_2002,natchange_2002,internal_in_2002,internal_out_2002,internal_net_2002,international_in_2002,...,deaths_2015,natchange_2015,internal_in_2054,internal_out_2015,internal_net_2015,international_in_2015,international_out_2015,international_net_2015,other_change_2015,population_2015
country,,,,,,,,,,,,,,,,,,,,,
E,326,326,326,326,326,326,326,326,326,326,...,326,326,326,326,326,326,326,326,326,326
N,11,11,11,11,11,11,11,11,11,11,...,11,11,11,11,11,11,11,11,11,11
S,32,32,32,32,32,32,32,32,32,32,...,32,32,32,32,32,32,32,32,32,32
W,22,22,22,22,22,22,22,22,22,22,...,22,22,22,22,22,22,22,22,22,22

In [5]:
# Let's have a look at the data types in our datasets:
referendum_df.dtypes

# It seems that all the values within the vote columns have been imported as int64 or float64, which might come in handy later 
# on when performing calculations with them.

id                           int64
Region_Code                 object
Region                      object
Area_Code                   object
Area                        object
Electorate                   int64
ExpectedBallots              int64
VerifiedBallotPapers         int64
Pct_Turnout                float64
Votes_Cast                   int64
Valid_Votes                  int64
Remain                       int64
Leave                        int64
Rejected_Ballots             int64
No_official_mark             int64
Voting_for_both_answers      int64
Writing_or_mark              int64
Unmarked_or_void             int64
Pct_Remain                 float64
Pct_Leave                  float64
Pct_Rejected               float64
dtype: object

In [6]:
referendum_df

,id,Region_Code,Region,Area_Code,Area,Electorate,ExpectedBallots,VerifiedBallotPapers,Pct_Turnout,Votes_Cast,...,Remain,Leave,Rejected_Ballots,No_official_mark,Voting_for_both_answers,Writing_or_mark,Unmarked_or_void,Pct_Remain,Pct_Leave,Pct_Rejected
0,108,E12000006,East,E06000031,Peterborough,120892,87474,87469,72.35,87469,...,34176,53216,77,0,32,7,38,39.11,60.89,0.09
1,109,E12000006,East,E06000032,Luton,127612,84633,84636,66.31,84616,...,36708,47773,135,0,85,0,50,43.45,56.55,0.16
2,112,E12000006,East,E06000033,Southend-on-Sea,128856,93948,93939,72.90,93939,...,39348,54522,69,0,21,0,48,41.92,58.08,0.07
3,113,E12000006,East,E06000034,Thurrock,109897,79969,79954,72.75,79950,...,22151,57765,34,0,8,3,23,27.72,72.28,0.04
4,110,E12000006,East,E06000055,Bedford,119530,86136,86136,72.06,86135,...,41497,44569,69,0,26,1,42,48.22,51.78,0.08
5,111,E12000006,East,E06000056,Central Bedfordshire,204004,158904,158896,77.89,158894,...,69670,89134,90,0,34,1,55,43.87,56.13,0.06
6,184,E12000006,East,E07000008,Cambridge,80108,57871,57860,72.22,57852,...,42682,15117,53,0,13,0,40,73.85,26.15,0.09
7,185,E12000006,East,E07000009,East Cambridgeshire,62435,48129,48120,77.08,48124,...,23599,24487,38,0,18,0,20,49.08,50.92,0.08
8,186,E12000006,East,E07000010,Fenland,71447,52653,52649,73.69,52649,...,15055,37571,23,0,10,1,12,28.61,71.39,0.04
9,187,E12000006,East,E07000011,Huntingdonshire,128486,99996,99990,77.82,99990,...,45729,54198,63,0,31,0,32,45.76,54.24,0.06
10,188,E12000006,East,E07000012,South Cambridgeshire,114830,93268,93263,81.21,93250,...,56128,37061,61,0,24,0,37,60.23,39.77,0.07
11,222,E12000006,East,E07000066,Basildon,132771,98087,98071,73.86,98062,...,30748,67251,63,3,26,2,32,31.38,68.62,0.06
12,223,E12000006,East,E07000067,Braintree,112562,86316,86309,76.67,86303,...,33523,52713,67,0,23,0,44,38.87,61.13,0.08
13,224,E12000006,East,E07000068,Brentwood,58777,46726,46724,79.50,46725,...,19077,27627,21,0,3,1,17,40.85,59.15,0.04
14,225,E12000006,East,E07000069,Castle Point,68860,51909,51909,75.38,51909,...,14154,37691,64,0,15,1,48,27.30,72.70,0.12
15,226,E12000006,East,E07000070,Chelmsford,129971,100867,100866,77.60,100852,...,47545,53249,58,0,23,2,33,47.17,52.83,0.06
16,227,E12000006,East,E07000071,Colchester,127520,95805,95802,75.11,95782,...,44414,51305,63,2,17,5,39,46.40,53.60,0.07
17,228,E12000006,East,E07000072,Epping Forest,100016,76905,76900,76.89,76900,...,28676,48176,48,0,21,2,25,37.31,62.69,0.06
18,229,E12000006,East,E07000073,Harlow,59124,43493,43489,73.56,43489,...,13867,29602,20,0,1,0,19,31.90,68.10,0.05
19,230,E12000006,East,E07000074,Maldon,49073,38851,38850,79.17,38850,...,14529,24302,19,1,9,1,8,37.42,62.58,0.05
20,231,E12000006,East,E07000075,Rochford,66589,52487,52479,78.81,52479,...,17510,34937,32,0,13,1,18,33.39,66.61,0.06
21,232,E12000006,East,E07000076,Tendring,111167,82724,82725,74.40,82703,...,25210,57447,46,0,17,2,27,30.50,69.50,0.06
22,233,E12000006,East,E07000077,Uttlesford,64735,51973,51972,80.28,51972,...,25619,26324,29,0,5,0,24,49.32,50.68,0.06
23,251,E12000006,East,E07000095,Broxbourne,68997,50915,50907,73.78,50907,...,17166,33706,35,0,14,0,21,33.74,66.26,0.07
24,252,E12000006,East,E07000096,Dacorum,108965,86313,86308,79.21,86307,...,42542,43702,63,4,24,0,35,49.33,50.67,0.07
25,254,E12000006,East,E07000098,Hertsmere,73295,56161,56159,76.62,56159,...,27593,28532,34,0,12,0,22,49.16,50.84,0.06
26,255,E12000006,East,E07000099,North Hertfordshire,99316,77748,77741,78.27,77737,...,42234,35438,65,0,29,1,35,54.37,45.63,0.08
27,258,E12000006,East,E07000102,Three Rivers,67380,52900,52898,78.50,52896,...,25751,27097,48,4,15,4,25,48.73,51.27,0.09
28,259,E12000006,East,E07000103,Watford,65060,46635,46635,71.68,46635,...,23167,23419,49,0,23,4,22,49.73,50.27,0.11
29,299,E12000006,East,E07000143,Breckland,98989,73593,73593,74.34,73593,...,26313,47235,45,0,10,0,35,35.78,64.22,0.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352,379,E12000005,West Midlands,E07000238,Wychavon,94497,76428,76425,80.88,76425,...,32188,44201,36,0,15,0,21,42.14,57.86,0.05
353,380,E12000005,West Midlands,E07000239,Wyre Forest,77878,57668,57666,74.05,57666,...,21240,36392,34,0,6,0,28,36.85,63.15,0.06
354,58,E12000005,West Midlands,E08000025,Birmingham,707293,451422,451336,63.81,451316,...,223451,227251,614,0,311,17,286,49.58,50.42,0.14
355,59,E12000005,West Midlands,E08000026,Coventry,221389,153241,153234,69.21,153234,...,67967,85097,170,0,85,0,85,44.40,55.60,0.11
356,60,E12000005,West Midlands,E08000027,Dudley,244516,175351,175333,71.71,175333,...,56780,118446,107,0,41,2,64,32.40,67.60,0.06
357,61,E12000005,West Midlands,E08000028,Sandwell,221429,147428,147418,66.58,147418,...,49004,98250,164,0,90,2,72,33.28,66.72,0.11
358,62,E12000005,West Midlands,E08000029,Solihull,160425,122026,122017,76.06,122020,...,53466,68484,70,0,25,0,45,43.84,56.16,0.06
359,63,E12000005,West Midlands,E08000030,Walsall,194729,135690,135684,69.68,135685,...,43572,92007,106,0,59,3,44,32.14,67.86,0.08
360,64,E12000005,West Midlands,E08000031,Wolverhampton,174760,118038,118037,67.54,118037,...,44138,73798,101,0,45,7,49,37.43,62.57,0.09
361,83,E12000003,Yorkshire and The Humber,E06000010,"Kingston upon Hull, City of",180230,113439,113439,62.94,113436,...,36709,76646,81,0,23,4,54,32.38,67.62,0.07
362,84,E12000003,Yorkshire and The Humber,E06000011,East Riding of Yorkshire,266047,199056,199039,74.81,199036,...,78779,120136,121,0,36,3,82,39.60,60.40,0.06
363,85,E12000003,Yorkshire and The Humber,E06000012,North East Lincolnshire,116302,79016,79013,67.94,79011,...,23797,55185,29,1,4,1,23,30.13,69.87,0.04
364,86,E12000003,Yorkshire and The Humber,E06000013,North Lincolnshire,123611,88912,88907,71.92,88906,...,29947,58915,44,0,11,3,30,33.70,66.30,0.05
365,87,E12000003,Yorkshire and The Humber,E06000014,York,155157,109695,109691,70.69,109681,...,63617,45983,81,0,20,5,56,58.04,41.96,0.07
366,313,E12000003,Yorkshire and The Humber,E07000163,Craven,44320,35907,35907,81.02,35907,...,16930,18961,16,0,6,0,10,47.17,52.83,0.04
367,314,E12000003,Yorkshire and The Humber,E07000164,Hambleton,70133,55016,55016,78.45,55016,...,25480,29502,34,0,18,1,15,46.34,53.66,0.06
368,315,E12000003,Yorkshire and The Humber,E07000165,Harrogate,119987,94669,94665,78.89,94653,...,48211,46374,68,2,25,3,38,50.97,49.03,0.07
369,316,E12000003,Yorkshire and The Humber,E07000166,Richmondshire,36794,27652,27652,75.15,27652,...,11945,15691,16,0,6,0,10,43.22,56.78,0.06
370,317,E12000003,Yorkshire and The Humber,E07000167,Ryedale,41529,32069,32069,77.22,32069,...,14340,17710,19,0,5,2,12,44.74,55.26,0.06
371,318,E12000003,Yorkshire and The Humber,E07000168,Scarborough,82900,60540,60539,73.03,60539,...,22999,37512,28,0,6,0,22,38.01,61.99,0.05
372,319,E12000003,Yorkshire and The Humber,E07000169,Selby,65278,51641,51639,79.10,51636,...,21071,30532,33,0,7,2,24,40.83,59.17,0.06
373,49,E12000003,Yorkshire and The Humber,E08000016,Barnsley,175809,122982,122972,69.95,122972,...,38951,83958,63,0,17,1,45,31.69,68.31,0.05
374,50,E12000003,Yorkshire and The Humber,E08000017,Doncaster,217432,151254,151246,69.56,151246,...,46922,104260,64,0,19,0,45,31.04,68.96,0.04
375,51,E12000003,Yorkshire and The Humber,E08000018,Rotherham,197623,137478,137474,69.56,137470,...,44115,93272,83,0,30,4,49,32.11,67.89,0.06
376,52,E12000003,Yorkshire and The Humber,E08000019,Sheffield,396406,266954,266951,67.34,266951,...,130735,136018,198,0,76,6,116,49.01,50.99,0.07
377,65,E12000003,Yorkshire and The Humber,E08000032,Bradford,342817,228729,228729,66.72,228727,...,104575,123913,239,0,121,5,113,45.77,54.23,0.10
378,66,E12000003,Yorkshire and The Humber,E08000033,Calderdale,149195,106005,106008,71.05,106004,...,46950,58975,79,0,22,15,42,44.32,55.68,0.07
379,67,E12000003,Yorkshire and The Humber,E08000034,Kirklees,307081,217460,217449,70.80,217428,...,98485,118755,188,0,86,7,95,45.33,54.67,0.09
380,68,E12000003,Yorkshire and The Humber,E08000035,Leeds,543033,387730,387730,71.39,387677,...,194863,192474,340,39,116,8,177,50.31,49.69,0.09
381,69,E12000003,Yorkshire and The Humber,E08000036,Wakefield,246096,175261,175259,71.17,175155,...,58877,116165,113,0,46,4,63,33.64,66.36,0.06

The referendum dataset was previously explored in the 'c8666430_TMA02_Question2b' notebook attached to the TMA02 by myself, so I do not think there is any need for a further explanation. Let's focus on the new dataset to explore, the immigration_df DataFrame:

In [7]:
immigration_df.dtypes


# However, when looking at columns within the immigration_df that should have been imported as int64, we observe that some
# of them (the ones corresponding to 2015) have been parsed as objects. Let's investigate why this happened

lad2014_code              object
lad2014_name              object
country                   object
population_2001            int64
births_2002                int64
deaths_2002                int64
natchange_2002             int64
internal_in_2002           int64
internal_out_2002          int64
internal_net_2002          int64
international_in_2002      int64
international_out_2002     int64
international_net_2002     int64
other_change_2002          int64
population_2002            int64
births_2003                int64
deaths_2003                int64
natchange_2003             int64
internal_in_2003           int64
internal_out_2003          int64
internal_net_2003          int64
international_in_2003      int64
international_out_2003     int64
international_net_2003     int64
other_change_2003          int64
population_2003            int64
births_2004                int64
deaths_2004                int64
natchange_2004             int64
internal_in_2004           int64
                           ...
internal_in_2013           int64
internal_out_2013          int64
internal_net_2013          int64
international_in_2013      int64
international_out_2013     int64
international_net_2013     int64
other_change_2013          int64
population_2013            int64
births_2014                int64
deaths_2014                int64
natchange_2014             int64
internal_in_2014           int64
internal_out_2014          int64
internal_net_2014          int64
international_in_2014      int64
international_out_2014     int64
international_net_2014     int64
other_change_2014          int64
population_2014            int64
births_2015               object
deaths_2015               object
natchange_2015            object
internal_in_2054          object
internal_out_2015         object
internal_net_2015         object
international_in_2015     object
international_out_2015    object
international_net_2015    object
other_change_2015         object
population_2015           object
dtype: object

In [8]:
#Let's have a look at the values of one of the 'object' columns:

immigration_df["international_in_2015"].unique()

array(['248', '1250', '202', '994', '347', '249', '1175', '778', '565',
       '2718', '975', '485', '838', '2889', '2369', '7611', '148', '7449',
       '1996', '810', '1764', '2610', '7016', '788', '1750', '2129', '491',
       '3819', '846', '1801', '3129', '4192', '811', '1001', '1570', '927',
       '800', '3565', '2156', '1281', '1153', '2238', '6688', '2892',
       '5348', '421', '2115', '1607', '1436', '996', '2282', '22', '2076',
       '1511', '1841', '530', '1696', '406', '420', '1099', '4796', '769',
       '1199', '995', '201', '111', '376', '100', '185', '573', '200',
       '307', '196', '159', '188', '145', '180', '419', '2553', '286',
       '334', '336', '183', '181', '138', '209', '310', '144', '374',
       '218', '477', '357', '298', '552', '581', '458', '305', '140',
       '883', '2174', '585', '752', '142', '116', '319', '335', '1081',
       '472', '236', '910', '328', '423', '986', '438', '325', '393',
       '259', '648', '760', '521', '875', '457', '765', '663', '439',
       '366', '1098', '655', '2395', '557', '784', '1372', '513', '440',
       '914', '897', '519', '772', '294', '281', '246', '238', '2203',
       '583', '1456', '155', '118', '227', '570', '288', '231', '1744',
       '221', '274', '225', '268', '1609', '394', '1104', '261', '959',
       '614', '220', '1000', '235', '670', '887', '517', '2656', '351',
       '348', '306', '536', '3078', '289', '636', '195', '828', '293',
       '417', '276', '452', '746', '687', '362', '1089', '6016', '865',
       '489', '516', '611', '696', '592', '158', '777', '311', '832',
       '701', '131', '191', '295', '493', '1161', '237', '503', '434',
       '284', '1082', '497', '3268', '403', '793', '1299', '596', '464',
       '330', '738', '860', '115', '929', '1255', '204', '1052', '920',
       '1353', '593', '759', '495', '194', '377', '501', '855', '807',
       '177', '841', '2280', '397', '1957', '13946', '1335', '1292',
       '3289', '866', '721', '1155', '1012', '203', '7585', '352', '745',
       '987', '1499', '815', '7918', '6137', '515', '329', '1694', '14783',
       '8873', '675', '2580', '587', '1015', '2659', '4501', '814', '2766',
       '8331', '1706', '3347', '8220', '1186', '11710', '1777', '13714',
       '4541', '9262', '4319', '5029', '6075', '6772', '9232', '4263',
       '1080', '5648', '6283', '9609', '5690', '3698', '9200', '5649',
       '3923', '14721', '5246', '2160', '10158', '14457', '8263', '7864',
       '16009', '                  :', '4590', '290', '299', '9650', '98',
       '1388', '90', '105', '412', '127', '1918', '10409', '918', '171',
       '332', '55', '623', '53', '948', '548', '264', '93', '254', '454',
       '1033', '121', '561', '1105', '320', '230', '520', '764', '683',
       '323', '618', '2399', '210', '322', '296', '5548', '941', '114',
       '101', '1061', '368'], dtype=object)

In [9]:
# We observe a strange value close to the end of the list of unique values. There is a cell that contains something like:'    :'.
# This might represent missing data or an error when the data was entered. We should now decide how to deal with this. 
# For now let's have a look at the row containing such error.

columns2015 = [column for column in immigration_df.columns if "2015" in column]
immigration_df.loc[immigration_df["international_in_2015"] == '                  :'][columns2015]

# Ok. It seems to happen that the data for Northern Ireland for 2015 is somehow missing. 
# We will now changed the '                  :' values.

,births_2015,deaths_2015,natchange_2015,internal_out_2015,internal_net_2015,international_in_2015,international_out_2015,international_net_2015,other_change_2015,population_2015
326,:,:,:,:,:,:,:,:,:,:
327,:,:,:,:,:,:,:,:,:,:
328,:,:,:,:,:,:,:,:,:,:
329,:,:,:,:,:,:,:,:,:,:
330,:,:,:,:,:,:,:,:,:,:
331,:,:,:,:,:,:,:,:,:,:
332,:,:,:,:,:,:,:,:,:,:
333,:,:,:,:,:,:,:,:,:,:
334,:,:,:,:,:,:,:,:,:,:
335,:,:,:,:,:,:,:,:,:,:
336,:,:,:,:,:,:,:,:,:,:

In [10]:
# In order to decide what to do with this data let's first have a look at the impact of the missing data (Let's check how many 
# columns are affected)

def count_errors(row):
    return sum(row == '                  :')

print(immigration_df.apply(count_errors))
print(immigration_df.apply(count_errors).sum())

# So the error value '                  :' seems to affect only to the 2015 columns for the North Ireland rows. The problem is
# that it affects every single Northern Ireland row.

lad2014_code               0
lad2014_name               0
country                    0
population_2001            0
births_2002                0
deaths_2002                0
natchange_2002             0
internal_in_2002           0
internal_out_2002          0
internal_net_2002          0
international_in_2002      0
international_out_2002     0
international_net_2002     0
other_change_2002          0
population_2002            0
births_2003                0
deaths_2003                0
natchange_2003             0
internal_in_2003           0
internal_out_2003          0
internal_net_2003          0
international_in_2003      0
international_out_2003     0
international_net_2003     0
other_change_2003          0
population_2003            0
births_2004                0
deaths_2004                0
natchange_2004             0
internal_in_2004           0
                          ..
internal_in_2013           0
internal_out_2013          0
internal_net_2013          0
international_in_2013      0
international_out_2013     0
international_net_2013     0
other_change_2013          0
population_2013            0
births_2014                0
deaths_2014                0
natchange_2014             0
internal_in_2014           0
internal_out_2014          0
internal_net_2014          0
international_in_2014      0
international_out_2014     0
international_net_2014     0
other_change_2014          0
population_2014            0
births_2015               11
deaths_2015               11
natchange_2015            11
internal_in_2054          11
internal_out_2015         11
internal_net_2015         11
international_in_2015     11
international_out_2015    11
international_net_2015    11
other_change_2015         11
population_2015           11
dtype: int64
121

In [11]:
# for now we will just declare '                  :' as Null value. Later on we will decide what to do about it.
immigration_df.replace(to_replace='                  :', value=np.nan, inplace=True)

# let's now check if the values have indeed changed:
immigration_df.loc[immigration_df["international_in_2015"].isnull()][columns2015]

,births_2015,deaths_2015,natchange_2015,internal_out_2015,internal_net_2015,international_in_2015,international_out_2015,international_net_2015,other_change_2015,population_2015
326,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
327,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
328,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
329,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
330,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
334,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
335,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
336,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Here I found another error: some numbers were imported with commas to indicate thousands. To fix it I went back to the original import and added the "thousands=','" parameter to the read_csv() method

In [12]:
#Let's now have a look at its columns'
immigration_df.columns

Index(['lad2014_code', 'lad2014_name', 'country', 'population_2001',
       'births_2002', 'deaths_2002', 'natchange_2002', 'internal_in_2002',
       'internal_out_2002', 'internal_net_2002',
       ...
       'deaths_2015', 'natchange_2015', 'internal_in_2054',
       'internal_out_2015', 'internal_net_2015', 'international_in_2015',
       'international_out_2015', 'international_net_2015', 'other_change_2015',
       'population_2015'],
      dtype='object', length=158)

At first sight we observe three clearly different columns - "lad2014_code", "lad2014_name" and "country" - which only appear
once. If we have a look at the "MYEB_information_note" document we learn that "lad2014_code" corresponds to the ONS Geographic code for local authorities as defined at mid-2014; "lad2014_name" is the local district or unitary authority name; and country stands for "E": England, "W": Wales, "S": Scotland and "N": Northern Ireland.

The rest of the columns represent population, birht estimates, death estimates, in and out national and international migratory moves and their net values (difference between in and out) for each year from 2001 to 2015.

From the list of columns above we observe what seems to be a typo within one of the 2014 columns: There is a column named "internal_in_2054" although it obviously should read "internal_in_2014". Let's start by fixing this:

In [13]:
immigration_df.columns = [w.replace("internal_in_2054", "internal_in_2015") for w in immigration_df.columns]
# Let's see if the column name has been changed:
immigration_df.columns

Index(['lad2014_code', 'lad2014_name', 'country', 'population_2001',
       'births_2002', 'deaths_2002', 'natchange_2002', 'internal_in_2002',
       'internal_out_2002', 'internal_net_2002',
       ...
       'deaths_2015', 'natchange_2015', 'internal_in_2015',
       'internal_out_2015', 'internal_net_2015', 'international_in_2015',
       'international_out_2015', 'international_net_2015', 'other_change_2015',
       'population_2015'],
      dtype='object', length=158)

We can now see that the column reads "internal_in_2014".

Now, let's rename some columns so the names are more friendly to work with:

In [14]:
immigration_df = immigration_df.rename(columns = {'lad2014_code':'Area_Code', 'lad2014_name':'Area'})
immigration_df

,Area_Code,Area,country,population_2001,births_2002,deaths_2002,natchange_2002,internal_in_2002,internal_out_2002,internal_net_2002,...,deaths_2015,natchange_2015,internal_in_2015,internal_out_2015,internal_net_2015,international_in_2015,international_out_2015,international_net_2015,other_change_2015,population_2015
0,E06000001,Hartlepool,E,90152,1017,1042,-25,2140,2301,-161,...,1102,-81,2137,2281,-144,248,135,113,15,92493
1,E06000002,Middlesbrough,E,141233,1663,1396,267,5109,6737,-1628,...,1488,465,6184,7071,-887,1250,450,800,12,139509
2,E06000003,Redcar and Cleveland,E,139159,1336,1523,-187,3951,4259,-308,...,1549,-80,4214,4019,195,202,109,93,25,135275
3,E06000004,Stockton-on-Tees,E,183795,1938,1719,219,6269,5531,738,...,1874,487,6442,6659,-217,994,557,437,-23,194803
4,E06000005,Darlington,E,97894,1102,1173,-71,3815,3521,294,...,1135,99,3743,3779,-36,347,407,-60,19,105389
5,E06000006,Halton,E,118559,1389,1230,159,3253,3678,-425,...,1240,302,3470,3646,-176,249,217,32,16,126528
6,E06000007,Warrington,E,191202,2149,1836,313,6517,6412,105,...,2000,350,7127,6650,477,1175,722,453,-13,207695
7,E06000008,Blackburn with Darwen,E,138453,2126,1383,743,4792,5665,-873,...,1277,882,4754,5631,-877,778,673,105,-7,146846
8,E06000009,Blackpool,E,142270,1417,2135,-718,9023,8333,690,...,1954,-176,7480,8241,-761,565,561,4,10,139578
9,E06000010,"Kingston upon Hull, City of",E,249913,2814,2584,230,9009,10690,-1681,...,2628,873,8715,9815,-1100,2718,1467,1251,261,258995
10,E06000011,East Riding of Yorkshire,E,314854,2787,3430,-643,17921,13251,4670,...,3909,-940,13993,13799,194,975,580,395,-79,336685
11,E06000012,North East Lincolnshire,E,157951,1650,1639,11,4618,4882,-264,...,1663,298,3840,4542,-702,485,339,146,24,159570
12,E06000013,North Lincolnshire,E,152964,1605,1577,28,5865,4941,924,...,1834,-33,5012,5018,-6,838,273,565,47,169820
13,E06000014,York,E,181291,1802,1776,26,10712,10662,50,...,1846,147,13195,12558,637,2889,1246,1643,-10,206856
14,E06000015,Derby,E,230726,2781,2382,399,10061,10359,-298,...,2247,1200,10942,11577,-635,2369,1140,1229,-6,254251
15,E06000016,Leicester,E,282757,4112,2688,1424,14745,17741,-2996,...,2561,2626,16832,19098,-2266,7611,2939,4672,-58,342627
16,E06000017,Rutland,E,34598,321,296,25,2676,2275,401,...,391,-42,2640,2278,362,148,123,25,-321,38046
17,E06000018,Nottingham,E,268939,3288,2704,584,21273,21865,-592,...,2461,1761,25977,26874,-897,7449,3622,3827,-58,318901
18,E06000019,"Herefordshire, County of",E,174885,1591,1865,-274,7466,6467,999,...,2125,-378,6631,6615,16,1996,760,1236,65,188099
19,E06000020,Telford and Wrekin,E,158573,1895,1354,541,6774,6324,450,...,1457,583,6932,6100,832,810,529,281,23,171159
20,E06000021,Stoke-on-Trent,E,240422,2708,2787,-79,9420,10543,-1123,...,2552,890,8959,10183,-1224,1764,798,966,-11,251648
21,E06000022,Bath and North East Somerset,E,169158,1654,1667,-13,10388,9903,485,...,1680,35,13545,12086,1459,2610,1283,1327,32,184874
22,E06000023,"Bristol, City of",E,390049,4648,3947,701,21835,23776,-1941,...,3353,3023,29347,28045,1302,7016,4527,2489,40,449328
23,E06000024,North Somerset,E,188840,1862,2241,-379,9450,7569,1881,...,2396,-206,9387,7740,1647,788,451,337,12,209944
24,E06000025,South Gloucestershire,E,245985,2688,1907,781,12054,10881,1173,...,2212,893,14301,13266,1035,1750,619,1131,46,274661
25,E06000026,Plymouth,E,240954,2556,2488,68,11744,10658,1086,...,2394,714,12951,13808,-857,2129,897,1232,77,262712
26,E06000027,Torbay,E,129965,1082,1878,-796,7864,6340,1524,...,1822,-378,6510,5881,629,491,387,104,34,133373
27,E06000028,Bournemouth,E,163560,1523,2288,-765,12766,11814,952,...,2058,191,15362,15021,341,3819,1214,2605,-11,194516
28,E06000029,Poole,E,138368,1322,1542,-220,8690,8282,408,...,1786,-203,9133,8989,144,846,365,481,46,150577
29,E06000030,Swindon,E,180129,2213,1620,593,6393,6990,-597,...,1665,1176,7333,7841,-508,1801,1126,675,18,217160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,S12000038,Renfrewshire,S,172850,1794,2037,-243,4422,4932,-510,...,2003,-282,4862,4549,313,548,270,278,21,174560
362,S12000026,Scottish Borders,S,106950,1066,1349,-283,4628,3587,1041,...,1461,-452,3866,3381,485,264,314,-50,7,114030
363,S12000027,Shetland Islands,S,21960,220,216,4,705,699,6,...,233,8,612,680,-68,93,61,32,8,23200
364,S12000028,South Ayrshire,S,112160,1004,1471,-467,3479,3180,299,...,1469,-445,3495,3198,297,254,240,14,4,112400
365,S12000029,South Lanarkshire,S,302340,3067,3312,-245,8498,7589,909,...,3548,-147,8715,7520,1195,454,615,-161,43,316230
366,S12000030,Stirling,S,86200,809,896,-87,4939,4236,703,...,917,-122,4905,4130,775,1033,396,637,20,92830
367,S12000039,West Dunbartonshire,S,93320,943,1152,-209,2575,2626,-51,...,1133,-192,2430,2318,112,121,154,-33,-7,89590
368,S12000040,West Lothian,S,159030,1988,1485,503,5719,4627,1092,...,1523,444,5163,4469,694,561,365,196,16,178550
369,W06000001,Isle of Anglesey,W,67806,639,750,-111,2470,2336,134,...,813,-128,2267,2380,-113,148,88,60,-9,69979
370,W06000002,Gwynedd,W,116844,1189,1385,-196,5529,5005,524,...,1379,-251,5451,5310,141,1105,419,686,15,122864
371,W06000003,Conwy,W,109674,1006,1606,-600,5489,4462,1027,...,1595,-498,4650,4203,447,320,355,-35,17,116218
372,W06000004,Denbighshire,W,93070,941,1174,-233,4989,4097,892,...,1260,-183,4340,4271,69,230,240,-10,24,94691
373,W06000005,Flintshire,W,148629,1612,1408,204,5270,5227,43,...,1498,75,4940,4875,65,520,403,117,13,154074
374,W06000006,Wrexham,W,128540,1325,1469,-144,4157,3776,381,...,1489,91,3753,4195,-442,764,492,272,12,136647
375,W06000008,Ceredigion,W,75417,561,748,-187,5836,5609,227,...,826,-183,5068,5952,-884,683,401,282,2,74642
376,W06000009,Pembrokeshire,W,113058,1091,1348,-257,4593,3726,867,...,1446,-247,3717,3675,42,323,271,52,-49,123464
377,W06000010,Carmarthenshire,W,173652,1671,2227,-556,6560,5234,1326,...,2268,-454,6318,5768,550,618,496,122,7,185123
378,W06000011,Swansea,W,223463,2347,2577,-230,8150,7980,170,...,2600,-42,9851,9844,7,2399,1264,1135,-15,242382
379,W06000012,Neath Port Talbot,W,134380,1322,1647,-325,4157,3500,657,...,1673,-166,4405,3844,561,210,140,70,37,140992
380,W06000013,Bridgend,W,128735,1402,1382,20,3928,3492,436,...,1595,-105,4319,3653,666,322,294,28,289,142092
381,W06000014,Vale of Glamorgan,W,119277,1169,1307,-138,5532,4643,889,...,1314,7,4801,4893,-92,296,273,23,-31,127592
382,W06000015,Cardiff,W,310088,3537,2944,593,16612,16792,-180,...,2920,1704,20267,20986,-719,5548,3615,1933,-52,357160
383,W06000016,Rhondda Cynon Taf,W,231910,2464,2635,-171,6299,5893,406,...,2566,135,6537,6811,-274,941,271,670,-8,237411
384,W06000018,Caerphilly,W,169546,1945,1746,199,4785,4162,623,...,1859,199,4734,4763,-29,188,148,40,13,180164
385,W06000019,Blaenau Gwent,W,70000,655,917,-262,1287,1646,-359,...,808,-48,1727,1823,-96,114,79,35,-21,69544
386,W06000020,Torfaen,W,90912,971,958,13,2188,2403,-215,...,988,-10,2595,2393,202,101,71,30,5,91836
387,W06000021,Monmouthshire,W,84984,788,960,-172,4439,3955,484,...,945,-165,4409,4048,361,209,289,-80,24,92476
388,W06000022,Newport,W,137642,1656,1397,259,5204,4416,788,...,1419,554,5436,5447,-11,1061,664,397,-12,147769
389,W06000023,Powys,W,126398,1169,1529,-360,5773,4722,1051,...,1590,-430,5520,5135,385,368,392,-24,36,132642
390,W06000024,Merthyr Tydfil,W,56207,600,666,-66,1121,1481,-360,...,617,140,1593,1589,4,231,112,119,-4,59324

# Aggregating data over the years

### Calculating incoming immigration over the years

In [15]:
# Here I am going to try to calculate the international in total for the international migrations for the whole dataframe. 
# Since some data from 2015 presents missing data we will ignore it for now. We will limit our study to the years 2001 - 2014. 
# We will first create a variable to hold the columns that we are intersted in, which are the international_in_year:
international_in_columns = [column for column in immigration_df if "international_in" in column]
international_in_columns

['international_in_2002',
 'international_in_2003',
 'international_in_2004',
 'international_in_2005',
 'international_in_2006',
 'international_in_2007',
 'international_in_2008',
 'international_in_2009',
 'international_in_2010',
 'international_in_2011',
 'international_in_2012',
 'international_in_2013',
 'international_in_2014',
 'international_in_2015']

In [16]:
# We won't use the last item of the list: "international_in_2015" for the reasons stated above. Let's eliminate it:
international_in_columns.remove("international_in_2015")
international_in_columns

['international_in_2002',
 'international_in_2003',
 'international_in_2004',
 'international_in_2005',
 'international_in_2006',
 'international_in_2007',
 'international_in_2008',
 'international_in_2009',
 'international_in_2010',
 'international_in_2011',
 'international_in_2012',
 'international_in_2013',
 'international_in_2014']

In [17]:
# Let's now create a function that adds all the international_in_year values and assigns their results to a new column
# called international_in_total
def sum_international_in(row):
    return row[international_in_columns].sum()
immigration_df["international_in_total"] = immigration_df.apply(sum_international_in, axis=1)
immigration_df["international_in_total"].head()
# We can see now our new column holding data for the international_net total added from 2002 to 2014

0     2524
1    15883
2     3501
3     9454
4     4671
Name: international_in_total, dtype: int64

In [18]:
immigration_df[["Area","international_in_total"]].head()

                   Area  international_in_total
0            Hartlepool                    2524
1         Middlesbrough                   15883
2  Redcar and Cleveland                    3501
3      Stockton-on-Tees                    9454
4            Darlington                    4671

### Calculating net immigration over the years

In [19]:
international_net_columns = [column for column in immigration_df if "international_net" in column]
international_net_columns

['international_net_2002',
 'international_net_2003',
 'international_net_2004',
 'international_net_2005',
 'international_net_2006',
 'international_net_2007',
 'international_net_2008',
 'international_net_2009',
 'international_net_2010',
 'international_net_2011',
 'international_net_2012',
 'international_net_2013',
 'international_net_2014',
 'international_net_2015']

In [20]:
international_net_columns.remove("international_net_2015")
international_net_columns

['international_net_2002',
 'international_net_2003',
 'international_net_2004',
 'international_net_2005',
 'international_net_2006',
 'international_net_2007',
 'international_net_2008',
 'international_net_2009',
 'international_net_2010',
 'international_net_2011',
 'international_net_2012',
 'international_net_2013',
 'international_net_2014']

In [21]:
def sum_international_net(row):
    return row[international_net_columns].sum()
immigration_df["international_net_total"] = immigration_df.apply(sum_international_net, axis=1)
immigration_df["international_net_total"]

0        546
1       8376
2         40
3       1953
4        304
5       -615
6       3905
7       3822
8        444
9      21669
10      5763
11      2874
12      6524
13     15761
14     18013
15     38992
16       359
17     47519
18      8526
19      3801
20     10226
21     10006
22     36890
23      3695
24      9856
25      8625
26      -378
27      6955
28       714
29     10335
       ...
361     1365
362     -485
363      -53
364    -1371
365    -2914
366     3519
367     -609
368     3239
369      341
370     3891
371     -490
372      262
373      896
374     5390
375     1644
376      767
377     2926
378     9558
379       76
380      654
381      -64
382    19765
383     2504
384     -598
385      248
386      -89
387     -659
388     2058
389      454
390     1145
Name: international_net_total, dtype: int64

In [22]:
immigration_df[["Area","international_net_total"]].head()

                   Area  international_net_total
0            Hartlepool                      546
1         Middlesbrough                     8376
2  Redcar and Cleveland                       40
3      Stockton-on-Tees                     1953
4            Darlington                      304

### Calculating population change over the years

In [23]:
def calculate_population_change(row):
    return (row["population_2014"] - row["population_2001"])
immigration_df["population_change"] = immigration_df.apply(calculate_population_change, axis=1)
immigration_df["population_change"]

0       2438
1      -2114
2      -4117
3      10324
4       7473
5       7795
6      15226
7       8290
8      -1769
9       7797
10     22261
11      1853
12     16283
13     23148
14     21737
15     54896
16      3424
17     45329
18     12275
19     10867
20     10605
21     12863
22     52425
23     19314
24     25571
25     20592
26      3019
27     27830
28     11741
29     35670
       ...
361     1380
362     7090
363     1260
364      370
365    12960
366     5320
367    -3610
368    18170
369     2363
370     5429
371     6613
372     1721
373     5175
374     8174
375        8
376    10608
377    11246
378    17834
379     6110
380    12479
381     8408
382    44206
383     4978
384    10395
385     -326
386      697
387     7352
388     9199
389     6277
390     2858
Name: population_change, dtype: int64

# Different rows
Let's here have a look at the datasets looking for rows that might appear **only** in one of them

In [24]:
# First, let's extract the set of values for the columns "Area_Code" for both datasets.
referendum_codes = referendum_df["Area_Code"].unique()
set_referendum_codes = set(referendum_codes.flatten())
for code in set_referendum_codes:
    print(code)
print(len(set_referendum_codes))

E07000005
E07000150
E07000238
E07000148
E07000131
E07000153
E07000091
E07000010
E07000089
E07000073
E08000014
E08000021
E06000037
E07000109
E07000211
E07000241
E06000008
E06000050
E07000093
E07000204
S12000038
E06000009
E07000206
E08000006
E07000167
W06000015
S12000023
E08000002
S12000046
E08000034
E07000225
E08000029
E07000066
E07000031
E07000044
E08000012
W06000022
E07000195
E09000027
E07000120
E09000019
E08000033
E07000045
E07000174
E07000152
E07000028
W06000013
S12000041
E07000124
E06000011
E08000031
E06000017
E07000117
E07000111
E07000228
W06000014
E07000132
E07000194
W06000011
S12000028
E06000025
E09000007
E06000006
S12000018
E07000061
E07000069
E09000014
E06000052
E07000128
E07000201
E08000003
E07000236
E07000137
E07000027
E07000129
E07000086
E07000041
E08000030
E07000243
E06000040
E08000005
E07000063
E07000006
E06000026
E06000031
E07000193
E07000168
E06000007
E08000007
E07000039
E06000015
E07000077
E07000209
E06000030
E06000023
E07000219
E07000178
E06000027
E09000021
E06000021
E06000046
E07000121
E07000221
E09000026
E07000048
E07000088
E07000085
E06000020
E07000165
E08000017
E07000125
E07000075
E07000179
E07000084
E06000044
S12000017
E06000047
E06000051
E07000035
W06000016
E06000053
E07000237
E09000003
S12000036
E07000163
E07000155
W06000012
E08000027
E07000106
E09000030
E08000013
E07000200
E07000078
E09000013
E08000025
E06000029
E07000123
E09000016
E07000229
S12000042
E07000222
S12000035
E07000067
E08000015
E07000135
S12000033
E06000045
E07000099
E06000002
E07000092
E06000010
W06000021
E07000188
E06000035
E09000008
E08000022
W06000001
E07000103
S12000044
S12000034
E07000217
E07000146
E07000037
W06000018
E09000006
E07000169
E07000139
E06000005
E07000192
E07000026
E06000043
E06000049
E09000020
E07000212
E09000010
E07000082
E07000105
E06000041
E07000226
W06000020
E07000144
E06000028
S12000040
E09000009
E07000036
E06000018
E08000011
S12000027
E07000130
E07000068
E06000032
N92000002
E07000205
E09000002
E07000172
S12000015
E07000113
W06000006
E07000213
S12000013
E07000040
E09000001
E09000011
E08000001
E06000013
E09000023
E09000012
E07000164
E07000141
S12000006
E09000004
E09000031
E07000242
E07000050
E07000114
E07000216
E07000047
E07000122
E06000054
E06000003
E07000203
E07000046
E07000112
E06000036
E06000042
E07000119
E07000052
E07000049
E08000037
E06000022
E07000033
E08000018
E07000208
E07000094
E07000147
E07000126
E07000151
E07000007
E08000028
E07000062
E07000102
E07000070
E07000175
E07000156
E07000115
W06000002
E07000087
W06000009
E06000019
S12000010
E09000018
E07000042
E09000024
E07000223
E07000008
E07000110
E07000218
E07000176
E07000196
S12000019
W06000024
E07000180
E07000154
E07000138
E07000142
S12000020
E07000166
E07000071
E07000181
E07000043
E07000030
E07000065
W06000023
E07000227
E07000034
E07000198
E09000017
E07000136
S12000039
E07000145
E09000029
E07000116
E07000053
E06000034
E07000064
S12000029
E06000033
E07000177
W06000004
E07000173
W06000008
E07000140
E07000051
E09000032
E08000035
W06000003
E07000072
E07000207
E07000081
E08000024
E07000190
E07000189
S12000030
E06000038
E07000095
E06000001
E07000215
E07000133
E08000019
S12000005
S12000021
E07000202
E08000016
S12000045
S12000024
E07000197
S12000011
E07000224
E07000032
E06000016
E08000036
S12000026
E07000098
E07000080
W06000019
E06000056
E06000057
E07000199
E09000028
E08000026
E07000240
E06000055
E07000076
E07000004
E06000004
E07000011
E08000009
E07000079
E07000187
W06000010
E06000024
E07000143
E09000025
E09000022
E07000191
E08000023
E09000033
E07000170
E07000038
S12000008
E07000090
E07000108
E06000012
E07000009
E09000005
E08000010
E08000032
E07000083
E07000127
E07000210
E07000239
E07000214
E07000149
E07000096
E07000171
E08000004
E07000118
GI
W06000005
E07000074
E07000107
E06000014
E07000134
E07000234
E07000012
E09000015
S12000014
E08000008
E07000220
E07000235
E07000029
E06000039
382

In [25]:
immigration_codes = immigration_df["Area_Code"].unique()
set_immigration_codes = set(immigration_codes.flatten())
for code in set_immigration_codes:
    print(code)
print(len(set_immigration_codes))

N09000001
E07000005
E07000150
E07000238
E07000148
E07000131
E07000153
E07000091
E07000010
E07000089
E07000073
E08000014
E08000021
E06000037
E07000109
E07000211
E07000241
E06000008
E06000050
E07000093
E07000204
S12000038
E06000009
E07000206
E08000006
E07000167
W06000015
S12000023
E08000002
S12000046
E08000034
E07000225
E08000029
E07000066
E07000031
E07000044
E08000012
W06000022
E07000195
E09000027
E07000120
E08000033
E09000019
E07000045
E07000174
E07000152
E07000028
W06000013
S12000041
E07000124
E06000011
E08000031
E06000017
E07000117
E07000111
E07000228
W06000014
E07000132
N09000003
E07000194
W06000011
S12000028
E06000025
E09000007
E06000006
E07000061
S12000018
E07000069
E06000052
E09000014
E07000128
E07000201
E08000003
E07000236
N09000010
E07000137
E07000027
E07000129
E07000086
E07000041
E08000030
N09000004
E07000243
E06000040
E08000005
E07000063
E07000006
E06000026
E06000031
E07000193
N09000002
E07000168
E06000007
E08000007
E07000039
E06000015
E07000077
E07000209
E06000030
E06000023
E07000219
E07000178
E06000027
E06000021
E09000021
E06000046
E07000121
E07000221
E09000026
E07000048
E07000088
E07000085
E06000020
E07000165
E08000017
E07000125
E07000075
E07000179
E07000084
E06000044
S12000017
E06000047
E06000051
E07000035
W06000016
E06000053
E07000237
E09000003
S12000036
E07000163
E07000155
W06000012
E08000027
E07000106
E08000013
E09000030
E07000200
E07000078
E09000013
E08000025
E06000029
E07000123
E09000016
E07000229
E07000222
S12000042
S12000035
E07000067
E08000015
E07000135
S12000033
E06000045
E07000099
E06000002
E07000092
E06000010
W06000021
E07000188
E06000035
E09000008
E08000022
W06000001
E07000103
S12000044
E07000217
S12000034
E07000146
E07000037
W06000018
E09000006
E07000169
E07000139
E06000005
E07000192
E07000026
E06000043
E06000049
E09000020
E07000212
E09000010
E07000082
E07000105
E06000041
E07000226
W06000020
E07000144
E06000028
S12000040
E09000009
E07000036
E06000018
E08000011
S12000027
N09000007
E07000130
E07000068
E06000032
E07000205
E09000002
E07000172
E07000113
S12000015
W06000006
E07000213
S12000013
E07000040
E09000001
E09000011
E08000001
E06000013
E09000023
E07000164
E09000012
E07000141
S12000006
E09000004
E09000031
E07000242
E07000050
E07000047
E07000114
E07000216
E07000122
E06000054
E06000003
E07000203
E07000046
E07000112
E06000036
E06000042
E07000119
E07000052
E07000049
E08000037
E06000022
N09000005
E07000033
E08000018
E07000208
E07000094
E07000147
E07000126
N09000009
E07000151
E07000007
E08000028
E07000062
E07000102
E07000070
E07000175
E07000156
E07000115
W06000002
E07000087
E06000019
W06000009
S12000010
E09000018
E07000042
E09000024
E07000223
E07000008
E07000110
E07000218
E07000176
E07000196
S12000019
N09000008
W06000024
E07000180
E07000154
E07000138
E07000142
S12000020
E07000166
E07000071
E07000043
E07000181
E07000030
E07000065
W06000023
E07000227
E07000034
E07000198
E09000017
E07000136
S12000039
E07000145
E09000029
E07000116
E07000053
E06000034
E07000064
E07000177
E06000033
S12000029
W06000004
E07000173
W06000008
E07000140
E07000051
E09000032
E08000035
N09000006
W06000003
E07000072
E07000207
E07000081
E08000024
E07000190
N09000011
E07000189
S12000030
E06000038
E06000001
E07000095
E07000215
E07000133
E08000019
S12000005
S12000021
E07000202
E08000016
S12000045
S12000024
E07000197
S12000011
E07000224
E07000032
E06000016
E08000036
S12000026
E07000080
E07000098
W06000019
E06000056
E06000057
E07000199
E08000026
E09000028
E07000240
E06000055
E07000076
E07000004
E06000004
E07000011
E08000009
E07000079
E07000187
W06000010
E06000024
E07000143
E09000025
E09000022
E07000191
E08000023
E09000033
E07000170
E07000038
S12000008
E07000090
E06000012
E07000108
E07000009
E09000005
E08000010
E08000032
E07000083
E07000127
E07000210
E07000239
E07000214
E07000149
E07000096
E07000171
E08000004
E07000118
W06000005
E07000074
E07000107
E06000014
E07000134
E07000234
E07000012
E09000015
S12000014
E08000008
E07000220
E07000235
E07000029
E06000039
391

In [26]:
# Now let's extract the difference of both sets (values that appear only in one of the sets)
set_codes_missing = set_immigration_codes ^ set_referendum_codes
set_codes_missing

{'GI',
 'N09000001',
 'N09000002',
 'N09000003',
 'N09000004',
 'N09000005',
 'N09000006',
 'N09000007',
 'N09000008',
 'N09000009',
 'N09000010',
 'N09000011',
 'N92000002'}

In [27]:
# Let's check to which regions these codes belong
immigration_df[immigration_df["Area_Code"].isin(list(set_codes_missing))]
# Codes missing from the referendum_df but appearing in the immigration_df correspond to the areas in Northern Ireland

,Area_Code,Area,country,population_2001,births_2002,deaths_2002,natchange_2002,internal_in_2002,internal_out_2002,internal_net_2002,...,internal_out_2015,internal_net_2015,international_in_2015,international_out_2015,international_net_2015,other_change_2015,population_2015,international_in_total,international_net_total,population_change
326,N09000001,Antrim and Newtownabbey,N,128760,1669,1016,653,4356,4269,87,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10956,-595,11206
327,N09000011,Ards and North Down,N,149559,1593,1409,184,4004,3325,679,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7617,226,8372
328,N09000002,"Armagh City, Banbridge and Craigavon",N,176014,2370,1395,975,3957,3300,657,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19872,10040,29697
329,N09000003,Belfast,N,328695,3857,3324,533,10469,12157,-1688,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47916,909,8135
330,N09000004,Causeway Coast and Glens,N,131374,1616,1009,607,4136,3662,474,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10029,-306,10929
331,N09000005,Derry City and Strabane,N,143810,2078,1033,1045,2635,2747,-112,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9556,-2653,5388
332,N09000006,Fermanagh and Omagh,N,105751,1340,899,441,3220,2507,713,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10781,3564,9241
333,N09000007,Lisburn and Castlereagh,N,124585,1528,1092,436,4638,5062,-424,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8100,1967,14042
334,N09000008,Mid and East Antrim,N,127452,1461,1151,310,3349,3013,336,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9000,2821,9190
335,N09000009,Mid Ulster,N,119112,1742,871,871,2344,2367,-23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19491,10642,23783
336,N09000010,"Newry, Mourne and Down",N,153726,2206,1233,973,3585,3363,222,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15175,6750,21677

In [28]:
referendum_df[referendum_df["Area_Code"].isin(list(set_codes_missing))]

# On the other hand, codes missing from the immigration_df but appearing in the referendum_df belong to Gibraltar and 
# Northern Ireland as a whole

,id,Region_Code,Region,Area_Code,Area,Electorate,ExpectedBallots,VerifiedBallotPapers,Pct_Turnout,Votes_Cast,...,Remain,Leave,Rejected_Ballots,No_official_mark,Voting_for_both_answers,Writing_or_mark,Unmarked_or_void,Pct_Remain,Pct_Leave,Pct_Rejected
171,381,N92000002,Northern Ireland,N92000002,Northern Ireland,1260955,790647,790523,62.69,790523,...,440707,349442,374,18,148,1,207,55.78,44.22,0.05
308,382,E12000009,South West,GI,Gibraltar,24119,20172,20172,83.64,20172,...,19322,823,27,0,8,0,19,95.91,4.09,0.13

# Aggregating data from Northern Ireland

So, here we have a problem: while the immigration dataframe has an entry for each region in Northern Ireland, the referendum_df collated all the Northern Ireland information in a single row. To be able to work with both dataframes without losing information from Northern Ireland we will have to treat its data in a single row within our immigration_df. To do so we will aggregate data from all the Northern Ireland Regions and put it in a new row that will hold the same code as the referendum_df.
With Gibraltar there is nothing we can do. We are missing all the information regarding the referendum result.

In [29]:
# First lest's use a variable to hold only the rows affecting Northern Ireland:

northern_ireland_df = immigration_df[immigration_df["Area_Code"].isin(list(set_codes_missing))]

In [30]:
# Now let's sum the values correspondin to the numeric columns for Northern Ireland
northern_ireland_values = northern_ireland_df[northern_ireland_df.columns[3:]].sum(axis=0)
northern_ireland_values

# We see that the length of the values is smaller than the original set, since we have not included the first three columns.

population_2001            1688838
births_2002                  21460
deaths_2002                  14432
natchange_2002                7028
internal_in_2002             46693
internal_out_2002            45772
internal_net_2002              921
international_in_2002         6488
international_out_2002        6393
international_net_2002          95
other_change_2002              652
population_2002            1697534
births_2003                  21433
deaths_2003                  14648
natchange_2003                6785
internal_in_2003             49424
internal_out_2003            49322
internal_net_2003              102
international_in_2003         6810
international_out_2003        6683
international_net_2003         127
other_change_2003              376
population_2003            1704924
births_2004                  22049
deaths_2004                  14736
natchange_2004                7313
internal_in_2004             55756
internal_out_2004            55369
internal_net_2004              387
international_in_2004         8174
                            ...
international_in_2013        12736
international_out_2013       13623
international_net_2013        -887
other_change_2013            -1130
population_2013            1829725
births_2014                  24185
deaths_2014                  14337
natchange_2014                9848
internal_in_2014             54061
internal_out_2014            54727
internal_net_2014             -666
international_in_2014        13300
international_out_2014       11063
international_net_2014        2237
other_change_2014             -646
population_2014            1840498
births_2015                    NaN
deaths_2015                    NaN
natchange_2015                 NaN
internal_in_2015               NaN
internal_out_2015              NaN
internal_net_2015              NaN
international_in_2015          NaN
international_out_2015         NaN
international_net_2015         NaN
other_change_2015              NaN
population_2015                NaN
international_in_total      168493
international_net_total      33365
population_change           151660
dtype: float64

In [31]:
# Here we append the missing values for the new row
new_row = pd.Series(["N92000002", "Northern Ireland", "N"]).append(northern_ireland_values)
new_row.reset_index(drop=True, inplace=True)
new_row = list(new_row)
len(new_row)

# And now we are back to the original length of the columns

161

In [32]:
# To make the work easier we use the list to create a new dataframe to append to the original one:

new_data_frame = pd.DataFrame([new_row],columns=immigration_df.columns)
new_data_frame

,Area_Code,Area,country,population_2001,births_2002,deaths_2002,natchange_2002,internal_in_2002,internal_out_2002,internal_net_2002,...,internal_out_2015,internal_net_2015,international_in_2015,international_out_2015,international_net_2015,other_change_2015,population_2015,international_in_total,international_net_total,population_change
0,N92000002,Northern Ireland,N,1688838,21460,14432,7028,46693,45772,921,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,168493,33365,151660

In [33]:
# And we can now append our newly created DataFrame to the original one

immigration_df = immigration_df.append(new_data_frame, ignore_index=True)
immigration_df

# Here we have a new row that hold the aggregated values for all Northern Ireland.

,Area_Code,Area,country,population_2001,births_2002,deaths_2002,natchange_2002,internal_in_2002,internal_out_2002,internal_net_2002,...,internal_out_2015,internal_net_2015,international_in_2015,international_out_2015,international_net_2015,other_change_2015,population_2015,international_in_total,international_net_total,population_change
0,E06000001,Hartlepool,E,90152,1017,1042,-25,2140,2301,-161,...,2281,-144,248,135,113,15,92493,2524,546,2438
1,E06000002,Middlesbrough,E,141233,1663,1396,267,5109,6737,-1628,...,7071,-887,1250,450,800,12,139509,15883,8376,-2114
2,E06000003,Redcar and Cleveland,E,139159,1336,1523,-187,3951,4259,-308,...,4019,195,202,109,93,25,135275,3501,40,-4117
3,E06000004,Stockton-on-Tees,E,183795,1938,1719,219,6269,5531,738,...,6659,-217,994,557,437,-23,194803,9454,1953,10324
4,E06000005,Darlington,E,97894,1102,1173,-71,3815,3521,294,...,3779,-36,347,407,-60,19,105389,4671,304,7473
5,E06000006,Halton,E,118559,1389,1230,159,3253,3678,-425,...,3646,-176,249,217,32,16,126528,2596,-615,7795
6,E06000007,Warrington,E,191202,2149,1836,313,6517,6412,105,...,6650,477,1175,722,453,-13,207695,11838,3905,15226
7,E06000008,Blackburn with Darwen,E,138453,2126,1383,743,4792,5665,-873,...,5631,-877,778,673,105,-7,146846,10904,3822,8290
8,E06000009,Blackpool,E,142270,1417,2135,-718,9023,8333,690,...,8241,-761,565,561,4,10,139578,9475,444,-1769
9,E06000010,"Kingston upon Hull, City of",E,249913,2814,2584,230,9009,10690,-1681,...,9815,-1100,2718,1467,1251,261,258995,37535,21669,7797
10,E06000011,East Riding of Yorkshire,E,314854,2787,3430,-643,17921,13251,4670,...,13799,194,975,580,395,-79,336685,13580,5763,22261
11,E06000012,North East Lincolnshire,E,157951,1650,1639,11,4618,4882,-264,...,4542,-702,485,339,146,24,159570,6719,2874,1853
12,E06000013,North Lincolnshire,E,152964,1605,1577,28,5865,4941,924,...,5018,-6,838,273,565,47,169820,9772,6524,16283
13,E06000014,York,E,181291,1802,1776,26,10712,10662,50,...,12558,637,2889,1246,1643,-10,206856,33103,15761,23148
14,E06000015,Derby,E,230726,2781,2382,399,10061,10359,-298,...,11577,-635,2369,1140,1229,-6,254251,30913,18013,21737
15,E06000016,Leicester,E,282757,4112,2688,1424,14745,17741,-2996,...,19098,-2266,7611,2939,4672,-58,342627,79161,38992,54896
16,E06000017,Rutland,E,34598,321,296,25,2676,2275,401,...,2278,362,148,123,25,-321,38046,2246,359,3424
17,E06000018,Nottingham,E,268939,3288,2704,584,21273,21865,-592,...,26874,-897,7449,3622,3827,-58,318901,88528,47519,45329
18,E06000019,"Herefordshire, County of",E,174885,1591,1865,-274,7466,6467,999,...,6615,16,1996,760,1236,65,188099,15998,8526,12275
19,E06000020,Telford and Wrekin,E,158573,1895,1354,541,6774,6324,450,...,6100,832,810,529,281,23,171159,9642,3801,10867
20,E06000021,Stoke-on-Trent,E,240422,2708,2787,-79,9420,10543,-1123,...,10183,-1224,1764,798,966,-11,251648,20737,10226,10605
21,E06000022,Bath and North East Somerset,E,169158,1654,1667,-13,10388,9903,485,...,12086,1459,2610,1283,1327,32,184874,29663,10006,12863
22,E06000023,"Bristol, City of",E,390049,4648,3947,701,21835,23776,-1941,...,28045,1302,7016,4527,2489,40,449328,87901,36890,52425
23,E06000024,North Somerset,E,188840,1862,2241,-379,9450,7569,1881,...,7740,1647,788,451,337,12,209944,10137,3695,19314
24,E06000025,South Gloucestershire,E,245985,2688,1907,781,12054,10881,1173,...,13266,1035,1750,619,1131,46,274661,17080,9856,25571
25,E06000026,Plymouth,E,240954,2556,2488,68,11744,10658,1086,...,13808,-857,2129,897,1232,77,262712,30010,8625,20592
26,E06000027,Torbay,E,129965,1082,1878,-796,7864,6340,1524,...,5881,629,491,387,104,34,133373,7222,-378,3019
27,E06000028,Bournemouth,E,163560,1523,2288,-765,12766,11814,952,...,15021,341,3819,1214,2605,-11,194516,38592,6955,27830
28,E06000029,Poole,E,138368,1322,1542,-220,8690,8282,408,...,8989,144,846,365,481,46,150577,9795,714,11741
29,E06000030,Swindon,E,180129,2213,1620,593,6393,6990,-597,...,7841,-508,1801,1126,675,18,217160,23551,10335,35670
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
362,S12000026,Scottish Borders,S,106950,1066,1349,-283,4628,3587,1041,...,3381,485,264,314,-50,7,114030,5459,-485,7090
363,S12000027,Shetland Islands,S,21960,220,216,4,705,699,6,...,680,-68,93,61,32,8,23200,1006,-53,1260
364,S12000028,South Ayrshire,S,112160,1004,1471,-467,3479,3180,299,...,3198,297,254,240,14,4,112400,3311,-1371,370
365,S12000029,South Lanarkshire,S,302340,3067,3312,-245,8498,7589,909,...,7520,1195,454,615,-161,43,316230,7203,-2914,12960
366,S12000030,Stirling,S,86200,809,896,-87,4939,4236,703,...,4130,775,1033,396,637,20,92830,11549,3519,5320
367,S12000039,West Dunbartonshire,S,93320,943,1152,-209,2575,2626,-51,...,2318,112,121,154,-33,-7,89590,2097,-609,-3610
368,S12000040,West Lothian,S,159030,1988,1485,503,5719,4627,1092,...,4469,694,561,365,196,16,178550,9272,3239,18170
369,W06000001,Isle of Anglesey,W,67806,639,750,-111,2470,2336,134,...,2380,-113,148,88,60,-9,69979,1768,341,2363
370,W06000002,Gwynedd,W,116844,1189,1385,-196,5529,5005,524,...,5310,141,1105,419,686,15,122864,10408,3891,5429
371,W06000003,Conwy,W,109674,1006,1606,-600,5489,4462,1027,...,4203,447,320,355,-35,17,116218,4116,-490,6613
372,W06000004,Denbighshire,W,93070,941,1174,-233,4989,4097,892,...,4271,69,230,240,-10,24,94691,2969,262,1721
373,W06000005,Flintshire,W,148629,1612,1408,204,5270,5227,43,...,4875,65,520,403,117,13,154074,4361,896,5175
374,W06000006,Wrexham,W,128540,1325,1469,-144,4157,3776,381,...,4195,-442,764,492,272,12,136647,9767,5390,8174
375,W06000008,Ceredigion,W,75417,561,748,-187,5836,5609,227,...,5952,-884,683,401,282,2,74642,7763,1644,8
376,W06000009,Pembrokeshire,W,113058,1091,1348,-257,4593,3726,867,...,3675,42,323,271,52,-49,123464,5061,767,10608
377,W06000010,Carmarthenshire,W,173652,1671,2227,-556,6560,5234,1326,...,5768,550,618,496,122,7,185123,6697,2926,11246
378,W06000011,Swansea,W,223463,2347,2577,-230,8150,7980,170,...,9844,7,2399,1264,1135,-15,242382,22668,9558,17834
379,W06000012,Neath Port Talbot,W,134380,1322,1647,-325,4157,3500,657,...,3844,561,210,140,70,37,140992,1979,76,6110
380,W06000013,Bridgend,W,128735,1402,1382,20,3928,3492,436,...,3653,666,322,294,28,289,142092,3529,654,12479
381,W06000014,Vale of Glamorgan,W,119277,1169,1307,-138,5532,4643,889,...,4893,-92,296,273,23,-31,127592,3915,-64,8408
382,W06000015,Cardiff,W,310088,3537,2944,593,16612,16792,-180,...,20986,-719,5548,3615,1933,-52,357160,61986,19765,44206
383,W06000016,Rhondda Cynon Taf,W,231910,2464,2635,-171,6299,5893,406,...,6811,-274,941,271,670,-8,237411,10083,2504,4978
384,W06000018,Caerphilly,W,169546,1945,1746,199,4785,4162,623,...,4763,-29,188,148,40,13,180164,1951,-598,10395
385,W06000019,Blaenau Gwent,W,70000,655,917,-262,1287,1646,-359,...,1823,-96,114,79,35,-21,69544,1112,248,-326
386,W06000020,Torfaen,W,90912,971,958,13,2188,2403,-215,...,2393,202,101,71,30,5,91836,1163,-89,697
387,W06000021,Monmouthshire,W,84984,788,960,-172,4439,3955,484,...,4048,361,209,289,-80,24,92476,2239,-659,7352
388,W06000022,Newport,W,137642,1656,1397,259,5204,4416,788,...,5447,-11,1061,664,397,-12,147769,10689,2058,9199
389,W06000023,Powys,W,126398,1169,1529,-360,5773,4722,1051,...,5135,385,368,392,-24,36,132642,3976,454,6277
390,W06000024,Merthyr Tydfil,W,56207,600,666,-66,1121,1481,-360,...,1589,4,231,112,119,-4,59324,2114,1145,2858
391,N92000002,Northern Ireland,N,1688838,21460,14432,7028,46693,45772,921,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,168493,33365,151660

In [34]:
# Let's hold the dataframe in a csv file:
# immigration_df.to_csv("data/immigration_df.csv")