In [11]:
import pymongo
import datetime
import collections

import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline

import numpy as np
import pandas as pd
import scipy.stats
from collections import Counter
from sklearn import cluster

# Importing our datasets

In [12]:
referendum_df = pd.read_csv("data/EU-referendum-result-data.csv")
referendum_df.head()

,id,Region_Code,Region,Area_Code,Area,Electorate,ExpectedBallots,VerifiedBallotPapers,Pct_Turnout,Votes_Cast,...,Remain,Leave,Rejected_Ballots,No_official_mark,Voting_for_both_answers,Writing_or_mark,Unmarked_or_void,Pct_Remain,Pct_Leave,Pct_Rejected
0,108,E12000006,East,E06000031,Peterborough,120892,87474,87469,72.35,87469,...,34176,53216,77,0,32,7,38,39.11,60.89,0.09
1,109,E12000006,East,E06000032,Luton,127612,84633,84636,66.31,84616,...,36708,47773,135,0,85,0,50,43.45,56.55,0.16
2,112,E12000006,East,E06000033,Southend-on-Sea,128856,93948,93939,72.90,93939,...,39348,54522,69,0,21,0,48,41.92,58.08,0.07
3,113,E12000006,East,E06000034,Thurrock,109897,79969,79954,72.75,79950,...,22151,57765,34,0,8,3,23,27.72,72.28,0.04
4,110,E12000006,East,E06000055,Bedford,119530,86136,86136,72.06,86135,...,41497,44569,69,0,26,1,42,48.22,51.78,0.08

In [13]:
immigration_df = pd.read_csv("data/immigration_df.csv",index_col="Unnamed: 0")
immigration_df.head()

,Area_Code,Area,country,population_2001,births_2002,deaths_2002,natchange_2002,internal_in_2002,internal_out_2002,internal_net_2002,...,internal_out_2015,internal_net_2015,international_in_2015,international_out_2015,international_net_2015,other_change_2015,population_2015,international_in_total,international_net_total,population_change
0,E06000001,Hartlepool,E,90152,1017,1042,-25,2140,2301,-161,...,2281,-144,248,135,113,15,92493,2524,546,2438
1,E06000002,Middlesbrough,E,141233,1663,1396,267,5109,6737,-1628,...,7071,-887,1250,450,800,12,139509,15883,8376,-2114
2,E06000003,Redcar and Cleveland,E,139159,1336,1523,-187,3951,4259,-308,...,4019,195,202,109,93,25,135275,3501,40,-4117
3,E06000004,Stockton-on-Tees,E,183795,1938,1719,219,6269,5531,738,...,6659,-217,994,557,437,-23,194803,9454,1953,10324
4,E06000005,Darlington,E,97894,1102,1173,-71,3815,3521,294,...,3779,-36,347,407,-60,19,105389,4671,304,7473

# Merging both DataFrames

In [14]:
immigration_referendum_df = pd.merge(immigration_df,referendum_df, on="Area_Code")
immigration_referendum_df.head().transpose()

,0,1,2,3,4
Area_Code,E06000001,E06000002,E06000003,E06000004,E06000005
Area_x,Hartlepool,Middlesbrough,Redcar and Cleveland,Stockton-on-Tees,Darlington
country,E,E,E,E,E
population_2001,90152,141233,139159,183795,97894
births_2002,1017,1663,1336,1938,1102
deaths_2002,1042,1396,1523,1719,1173
natchange_2002,-25,267,-187,219,-71
internal_in_2002,2140,5109,3951,6269,3815
internal_out_2002,2301,6737,4259,5531,3521
internal_net_2002,-161,-1628,-308,738,294
international_in_2002,156,990,478,805,209
international_out_2002,190,395,415,463,252
international_net_2002,-34,595,63,342,-43
other_change_2002,61,-377,-207,-154,400
population_2002,89993,140090,138520,184940,98474
births_2003,1022,1699,1409,2072,1185
deaths_2003,1016,1374,1525,1700,1048
natchange_2003,6,325,-116,372,137
internal_in_2003,2252,5330,4542,6181,3653
internal_out_2003,2093,6601,4079,5688,3657
internal_net_2003,159,-1271,463,493,-4
international_in_2003,163,930,365,727,206
international_out_2003,241,629,440,683,305
international_net_2003,-78,301,-75,44,-99
other_change_2003,54,-395,-227,-150,403
population_2003,90134,139050,138565,185699,98911
births_2004,1077,1863,1508,2165,1175
deaths_2004,998,1463,1520,1752,1197
natchange_2004,79,400,-12,413,-22
internal_in_2004,2164,5264,4184,5893,3767
...,...,...,...,...,...
internal_out_2015,2281,7071,4019,6659,3779
internal_net_2015,-144,-887,195,-217,-36
international_in_2015,248,1250,202,994,347
international_out_2015,135,450,109,557,407
international_net_2015,113,800,93,437,-60
other_change_2015,15,12,25,-23,19
population_2015,92493,139509,135275,194803,105389
international_in_total,2524,15883,3501,9454,4671
international_net_total,546,8376,40,1953,304
population_change,2438,-2114,-4117,10324,7473
id,70,71,72,73,74
Region_Code,E12000001,E12000001,E12000001,E12000001,E12000001
Region,North East,North East,North East,North East,North East
Area_y,Hartlepool,Middlesbrough,Redcar and Cleveland,Stockton-on-Tees,Darlington
Electorate,70341,94612,103529,141486,77662
ExpectedBallots,46137,61395,72741,100462,55194
VerifiedBallotPapers,46134,61393,72741,100460,55195
Pct_Turnout,65.59,64.89,70.26,71,71.07
Votes_Cast,46134,61393,72741,100460,55195
Valid_Votes,46100,61358,72714,100415,55166
Remain,14029,21181,24586,38433,24172
Leave,32071,40177,48128,61982,30994
Rejected_Ballots,34,35,27,45,29
No_official_mark,0,0,0,2,0
Voting_for_both_answers,12,16,6,13,0
Writing_or_mark,6,1,0,2,0
Unmarked_or_void,16,18,21,28,29
Pct_Remain,30.43,34.52,33.81,38.27,43.82
Pct_Leave,69.57,65.48,66.19,61.73,56.18
Pct_Rejected,0.07,0.06,0.04,0.04,0.05

# Exporting merged dataframe to a new CSV file

In [15]:
immigration_referendum_df.to_csv("data/immigration_referendum_df.csv")